<!DOCTYPE html>
<html lang="pt-br" ng-app="graphon">
  <head>
    <meta charset="utf-8">
    <title>Graphonsky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contrutor de gráficos de funções.">
    <meta name="author" content="Romenig da Silva Ribeiro">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/jquery.ui.css" rel="stylesheet">
    <link href="mathquill/mathquill.css" rel="stylesheet">
    <link href="css/graphon.css" rel="stylesheet" media="screen" />
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="jquery/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.ui.js"></script>
    <script src="paper/paper-full.min.js"></script>
    <script src="calculadora.js"></script>

    <script src="mathquill/mathquill.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/uibootstrap.js"></script>
    <script src="js/slider.js"></script>

  </head>

  <body ng-controller="MainCtrl" id="MainCtrl">
  

    <div class="header">
        <h1><img src="css/logo.png" title="MathMagic" /><img class="pull-right" src="css/aprendee.png" style="margin: 0 20px 0 0" /></h1>
    </div>

    <div class="container">
      <div class="equation">
        <div class="mathquill-editable" id="bla">x^2</div>
      </div>
      <button id="btn" class="btn">MOSTRAR</button>
      
      <div class="row-fluid">
        <div class="span2">
            <div class="well" ng-repeat="p in parameters"><b>{{p.name}} = {{p.currentValue}}</b><br>
              De: {{p.starting}} a: {{p.ending}}
              <div ui-slider min="{{p.starting}}" max="{{p.ending}}" ng-model="p.currentValue"></div>
            </div>
            <div>
              <button class="btn">Animar parâmetros</button>
            </div>
        </div>
        <div class="span10">
          <canvas id="grafico" resize keepalive="true"></canvas>
        </div>
      </div>

      <script>
        var canvas = document.getElementById("grafico");
        var grid;
        var tool;

        $(function(){
  
          paper.setup(canvas);
          tool = new paper.Tool()
          tool.activate();
          grid = new paper.Group();

          var h = canvas.height;
          var w = canvas.width;
          for(var i=0; i<w; i++){
            var path = new paper.Path.Line({from: [0,i*20], to: [w,i*20]});
            if(i%5==0){
              path.strokeColor = "#666666";
            }else{
              path.strokeColor = "#EDEDED";
            }
            grid.addChild(path);
          }
          for(var i=0; i<h; i++){
            var path = new paper.Path.Line({from: [i*20,0], to: [i*20,h]});
            if(i%5==0){
              path.strokeColor = "#666666";
            }else{
              path.strokeColor = "#EDEDED";
            }
            grid.addChild(path);
          }
          var path = new paper.Path.Line({from: [0,h/2], to: [w,h/2]});
          path.strokeColor = "#FF0000";
          grid.addChild(path);
          var path = new paper.Path.Line({from: [w/2,0], to: [w/2,h]});
          path.strokeColor = "#FF0000";
          grid.addChild(path);

          paper.view.draw();
          
          
          var latexMath = $("#bla");
          latexMath.bind('keydown keypress', function() {
            setTimeout(function() {
              var latex = latexMath.mathquill('latex');
              var scope = angular.element($("#MainCtrl")).scope();
              scope.updateParams();
            });
          }).keydown().focus();
          $(".equation").click(function(){
            //console.log('focus qdo clicar na caixa');
          })

          $("#btn").click(function(){
            drawChart();
          });

          //var red = new paper.Path.Line({from: [w/2,0], to: [w/2,h]});
          //red.strokeColor = "#FF0000";
          paper.view.onFrame = function(event) { 
            /*for (var i = 0; i < len; i++) { 
                var item = project.activeLayer.children[i]; 
                item.rotate(3); 
            } */
            //red.rotate(3);
            //console.log("v"+event.time);
            drawChart();
          }
          tool.onMouseDrag = function(event) {

          }

        });
        
        var chart = null; 
        //path.visible = false;
        function drawChart(){
          if(chart==null){
            chart = new paper.Path();
            chart.strokeColor = "black";
            /*for(var i=(w/2)*-1; i<w/2; i+=2){
                path.add(new paper.Point(0, 0));
            }*/
          }

          var t = chart.segments.length;
          console.log(t);

          var h = canvas.height;
          var w = canvas.width;
          
          var latex = $("#bla").mathquill('latex');
          var calc = new Calc(latex);
          chart.clean();
          for(var i=(w/2)*-1; i<w/2; i+=2){
            var p = { x: i };
            var y = calc.eval(p)+(h/2);
            chart.add(new paper.Point(i+(w/2), y));
            //console.log(t);
          }
          paper.view.draw();
        }

      </script>

    </div> 

    
  </body>
</html>