<!DOCTYPE html>
<html lang="pt-br" ng-app="graphon">
  <head>
    <meta charset="utf-8">
    <title>Graphonsky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contrutor de gráficos de funções.">
    <meta name="author" content="Romenig da Silva Ribeiro; Tulio Faria">
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../css/jquery.ui.css" rel="stylesheet">
    <link href="../../mathquill/mathquill.css" rel="stylesheet">
    <link href="../../css/keyboard.css" rel="stylesheet">
    <link href="../../css/graphon.css" rel="stylesheet" media="screen" />
    <link href="../../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="../../jquery/jquery-1.10.2.min.js"></script>
    <script src="../../js/jquery.ui.js"></script>
    <script src="kinetic.js"></script>
    <script src="../../calculadora.js"></script>

    <script src="../../mathquill/mathquill.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="../../js/app.js"></script>
    <script src="controllers.js"></script>
    <script src="../../js/services.js"></script>
    <script src="../../js/angular-resource.js"></script>
    <script src="../../js/uibootstrap.js"></script>
    <script src="../../js/slider.js"></script>

  </head>

  <body ng-controller="MainCtrl" id="MainCtrl">
  

    <div class="header">
        <h1><img src="../../css/logo.png" title="MathMagic" /><img class="pull-right" src="../../css/aprendee.png" style="margin: 0 20px 0 0" /></h1>
    </div>

    <div class="toolbar">
      <div class="equation">
        <div class="mathquill-editable" id="bla">x^2</div>
      </div>
      <button id="btn" class="btn">MOSTRAR</button>
      
      <div class="row-fluid">
        <div class="span2">
            <div class="well" ng-repeat="p in parameters"><b>{{p.name}} = {{p.currentValue}}</b><br>
              De: {{p.starting}} a: {{p.ending}}
              <div ui-slider min="{{p.starting}}" max="{{p.ending}}" ng-model="p.currentValue"></div>
            </div>
            <div>
              <button class="btn">Animar parâmetros</button>
              <div id="x"></div>
              <div id="y"></div>
            </div>
        </div>
      </div>
    </div>
    <div id="grafico" style="cursor: move;"></div>
    
    <div class="toggleBtn" id="toggleBtn">
      <button class="btn" id="buttonToggleShow" onClick="$('#keyboardcontainer').show(); $('#toggleBtn').hide();"><img src="css/img/input-keyboard.png"></img></button>
    </div>
    <span class="keyboardcontainer" id="keyboardcontainer">
      <div class="row-fluid">
        <div class="offset1 span2">
          <button class="btn btn-large" id="buttonToggleHide" onClick="$('#keyboardcontainer').hide();$('#toggleBtn').show();">Hide</button>
        </div>  
        <div class="span3">
              <span class="keyboard number" onClick="$('#bla').mathquill('write','7');">7</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','8');">8</span>
              <span class="keyboard number" onClick="$('#bla').mathquill('write','9');">9</span>  
              <span class="keyboard number lastitem" onClick="$('#bla').mathquill('cmd','*');">×</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','4');">4</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','5');">5</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','9');">6</span> 
              <span class="keyboard number lastitem" onClick="$('#bla').mathquill('cmd','+');">+</span>
              <span class="keyboard number" onClick="$('#bla').mathquill('write','1');">1</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','2');">2</span>
              <span class="keyboard number" onClick="$('#bla').mathquill('write','3');">3</span> 
              <span class="keyboard number lastitem" onClick="$('#bla').mathquill('cmd','-');">-</span>  
              <span class="keyboard number numberzero" onClick="$('#bla').mathquill('write','9');">0</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','9');">.</span>  
              <span class="keyboard number lastitem" onClick="$('#bla').mathquill('cmd','/');">÷</span>
        </div>
        <div class="span3">
              <span class="keyboard keysymbol" onClick="$('#bla').mathquill('write','^2');">a<sup>2</sup></span>
              <span class="keyboard keysymbol" onClick="$('#bla').mathquill('cmd','\sqrt');">√</span>
              <span class="keyboard keysymbol" onClick="$('#bla').mathquill('write','x');">x</span>
              <span class="keyboard keysymbol" onClick="$('#bla').mathquill('cmd','\^');">a<sup>b</sup></span>
              <span class="keyboard symbolbackspace lastitem" onClick="alert('preguiça de terminar hoje...');">Backspace</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">Del</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">&#8593;</span>
              <span class="keyboard keysymbol lastitem" onClick="alert('preguiça de terminar hoje...');">&#8629;</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">&#8592;</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">&#8595;</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">&#8594;</span>
        </div>
      </div>
    </div><!-- Keyboardcontainer -->
      <script>
        var cartesianSize;
        var grafico;
        var graficoLayer = null;
        var scale = 1/25; // 1 para 1px / 1/10

        function toCartX(x){
          return ((cartesianSize/2)+x);
        }
        function toCartY(y){
          return ((cartesianSize/2)-y);
        }

        $(function(){

          cartesianSize = 3000;
          
          // desenhar grid
          var stage = new Kinetic.Stage({
            container: 'grafico',
            width: $("#grafico").width(),
            height: 500,
            draggable: true,
            dragBoundFunc: function(pos) {
              var newY = pos.y > 1 ? 1 : (pos.y<$("#grafico").height()-cartesianSize) ? $("#grafico").height()-cartesianSize-1 : pos.y;
              var newX = pos.x > 1 ? 1 : (pos.x<$("#grafico").width()-cartesianSize) ? $("#grafico").width()-cartesianSize-1 : pos.x;
              return {
                x: newX,
                y: newY
              };
          }
          });

          $(window).resize(function(){
            stage.setWidth($("#grafico").width());
            stage.setHeight(window.innerHeight-$(".header").height()-10);
          });

          // desenhando o grid
          var gridLayer = new Kinetic.Layer();
          graficoLayer = new Kinetic.Layer();

          for(var i=0; i<=cartesianSize; i+=20){
            var color = '#999999';
            if(i==cartesianSize/2){
              color = 'red';
            }else if(i%100==0){
              color = '#333333';
            }
            var line = new Kinetic.Line({
              points: [0, i, cartesianSize, i],
              stroke: color,
              strokeWidth: 0.5
            });
            gridLayer.add(line);

            if((i!=cartesianSize/2)&&(i%100==0)){
              var label = new Kinetic.Text({
                x: cartesianSize/2+5,
                y: i+2,
                text: ((cartesianSize/2)-i)*scale+'',
                fontSize: 10,
                fontFamily: 'Arial',
                fill: '#333333',
                align: 'center'
              });
              gridLayer.add(label);
            }
          }
          for(var i=0; i<=cartesianSize; i+=20){
            var color = '#999999';
            if(i==cartesianSize/2){
              color = 'red';
            }else if(i%100==0){
              color = '#333333';
            }
            var line = new Kinetic.Line({
              points: [i, 0, i,cartesianSize],
              stroke: color,
              strokeWidth: 0.5
            });
            gridLayer.add(line);

            if(i%100==0){
              var label = new Kinetic.Text({
                x: i+2,
                y: cartesianSize/2+5,
                text: (i-(cartesianSize/2))*scale+'',
                fontSize: 10,
                fontFamily: 'Arial',
                fill: '#333333',
                align: 'center'
              });
              gridLayer.add(label);
            }

          }
          // centralizando o grafico
          stage.attrs.x = ($("#grafico").width()-cartesianSize)/2;
          stage.attrs.y = ($("#grafico").height()-cartesianSize)/2;

          // add the layer to the stage
          stage.add(gridLayer);
          stage.add(graficoLayer);

          var latexMath = $("#bla");
          latexMath.bind('keydown keypress', function() {
            setTimeout(function() {
              var latex = latexMath.mathquill('latex');
              var scope = angular.element($("#MainCtrl")).scope();
              $("#x").html(latex);
              scope.updateParams();
              //drawFunction();
            });
          }).keydown().focus();
          $(".equation").click(function(){
          })

          $("#btn").click(function(){
            
          });

        });
        
      </script>


    
  </body>
</html>