<!DOCTYPE html>
<html lang="pt-br" ng-app="graphon">
  <head>
    <meta charset="utf-8">
    <title>Graphonsky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contrutor de gráficos de funções.">
    <meta name="author" content="Romenig da Silva Ribeiro; Tulio Faria">
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../css/jquery.ui.css" rel="stylesheet">
    <link href="../../mathquill/mathquill.css" rel="stylesheet">
    <link href="../../css/keyboard.css" rel="stylesheet">
    <link href="../../css/graphon.css" rel="stylesheet" media="screen" />
    <link href="../../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="../../jquery/jquery-1.10.2.min.js"></script>
    <script src="../../js/jquery.ui.js"></script>
    <script src="kinetic.js"></script>
    <script src="../../calculadora.js"></script>

    <script src="../../mathquill/mathquill.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="../../js/app.js"></script>
    <script src="controllers.js"></script>
    <script src="../../js/services.js"></script>
    <script src="../../js/angular-resource.js"></script>
    <script src="../../js/uibootstrap.js"></script>
    <script src="../../js/slider.js"></script>

  </head>

  <body ng-controller="MainCtrl" id="MainCtrl">
    <div class="header">
        <h1><img src="../../css/logo.png" title="MathMagic" /><img class="pull-right" src="../../css/aprendee.png" style="margin: 0 20px 0 0" /></h1>
    </div>

    <div class="toolbar">
      <div class="equation">
        <div class="mathquill-editable" id="bla">x^2</div>
      </div>
      
      <div class="">
        <div class="">
            <div class="param" ng-repeat="p in parameters"><b>{{p.name}} = {{p.currentValue}}</b> ({{p.starting}} a {{p.ending}})<br>
              <div ui-slider min="{{p.starting}}" max="{{p.ending}}" ng-model="p.currentValue"></div>
            </div>
            <div ng-show="parameters.length>0">
              <button class="btn">Animar parâmetros</button>
              <div id="x"></div>
              <div id="y"></div>
            </div>
        </div>
      </div>
      <div id="t"></div>
    </div>
    <div id="grafico" style="cursor: move;"></div>
    
    <div class="toggleBtn" id="toggleBtn">
      <button class="btn" id="buttonToggleShow" onClick="$('#keyboardcontainer').show(); $('#toggleBtn').hide();"><img src="../../css/img/keyboard-img.png"></img></button>
    </div>
    
      <script>
        var cartesianSize;
        var grafico;
        var graficoLayer = null;
        var gridLayer = null;
        var gridLinesV = [];
        var gridLinesH = [];
        var scale = 1/25; // 1 para 1px / 1/10
        var stage = null;
        var viewportHeight = 400;
        var viewportWidth = 400;
        var overflowSize = 50; // 50px a mais em cada direcao do viewport

        var h1 = null;
        var h2 = null;
        var h3 = null;

        function toCartX(x){
          return ((cartesianSize/2)+x);
        }
        function toCartY(y){
          return ((cartesianSize/2)-y);
        }

        $(function(){

          cartesianSize = 3000;
          // desenhar grid
          stage = new Kinetic.Stage({
            container: 'grafico',
            width: viewportWidth,
            height: viewportHeight,
            draggable: true
          });
          stage.on('dragmove', function(ev){
            var absPos = stage.getAbsolutePosition();
            
            // descobrir onde estão a primeira e ultima linhas
            gridLayer.draw();

            // onde está, onde deveria estar
            // onde está
            //absPos.y;

            

            if(true){
              // comeca a redesenhar
              gridLinesH[gridLinesH.length-1].img.setPosition(0, 0-gridLinesH[gridLinesH.length-1].y-50);
              $("#t").html(absPos.y+":"+absPos.y+"//"+gridLayer.getAttr("y"));
              //gridLinesH[i].setAttr("y", absPos.y%viewportHeight);



              //$("#t").html(gridLinesH.length+"VP"+viewportHeight+"/"+absPos.y+"/Stage"+stage.getAttr("height"));
              /*for(var i = 0; i<gridLinesH.length; i++){
                if(gridLinesH[i].getAttr("y")>(viewportHeight-absPos.y)){
                  //gridLinesH[i].setAttr("y", 0);
                }
                //gridLinesH[i].setAttr("x", 0-absPos.x); // ok
              }*/
            }else{
              for(var i = 0; i<gridLinesH.length; i++){
                //gridLinesH[i].setAttr("x", 0-absPos.x); // ok
              }
            }
            //$("#t").html(ev.target.getAttr("x")+":"+ev.target.getAttr("y"));
          });

          // quando redimensiona
          $(window).resize(function(){
            calcCanvasSize();

            // TODO: redraw
            drawGrid();
          });

          // desenhando o grid
          gridLayer = new Kinetic.Layer({draggable: true});
          graficoLayer = new Kinetic.Layer();

          // add the layer to the stage
          stage.add(gridLayer);
          stage.add(graficoLayer);

          calcCanvasSize();
          drawGrid();
          
          // centralizando o grafico
          stage.setAttr("x", 0-overflowSize);
          stage.setAttr("y", 0-overflowSize);

          var latexMath = $("#bla");
          latexMath.bind('keydown keypress', function() {
            setTimeout(function() {
              var latex = latexMath.mathquill('latex');
              var scope = angular.element($("#MainCtrl")).scope();
              $("#x").html(latex);
              scope.updateParams();
              //drawFunction();
            });
          }).keydown().focus();
        });
  
      function calcCanvasSize(){
        //stage.setWidth($("#grafico").width());
        //stage.setHeight(window.innerHeight-$(".header").height()-10);

        //viewportWidth = $("#grafico").width();
        //viewportHeight = window.innerHeight-$(".header").height()-10;
      }
      function drawGrid(){
        //console.log(stage.attrs.x);
        //for(var i=0; i<=cartesianSize; i+=20){
        // verticais
        //alert(viewportWidth+overflowSize*2+"/"+viewportWidth);
        for(var i=0; i<=viewportHeight+overflowSize*2; i+=20){
            var color = '#999999';
            if(i==cartesianSize/2){
              color = 'red';
            }else if(i%100==0){
              color = '#333333';
            }
            var line = new Kinetic.Line({
              points: [0, i, viewportWidth+overflowSize*2, i],
              stroke: color,
              strokeWidth: 0.5
            });
            gridLayer.add(line);
            gridLinesH.push(
              {
                img: line,
                y: i
              });

            if((i!=cartesianSize/2)&&(i%100==0)){
              var label = new Kinetic.Text({
                x: cartesianSize/2+5,
                y: i+2,
                text: ((cartesianSize/2)-i)*scale+'',
                fontSize: 10,
                fontFamily: 'Arial',
                fill: '#333333',
                align: 'center'
              });
              gridLayer.add(label);
            }
          }
          // horizontais
          for(var i=0; i<=viewportWidth+overflowSize*2; i+=20){
            var color = '#999999';
            if(i==cartesianSize/2){
              color = 'red';
            }else if(i%100==0){
              color = '#333333';
            }
            var line = new Kinetic.Line({
              points: [i, 0, i, viewportHeight+overflowSize*2],
              stroke: color,
              strokeWidth: 0.5
            });
            gridLayer.add(line);

            if(i%100==0){
              var label = new Kinetic.Text({
                x: i+2,
                y: cartesianSize/2+5,
                text: (i-(cartesianSize/2))*scale+'',
                fontSize: 10,
                fontFamily: 'Arial',
                fill: '#333333',
                align: 'center'
              });
              gridLayer.add(label);
            }
          }
          gridLayer.draw();
      }

      function keyPressed(){
        var scope = angular.element($("#MainCtrl")).scope();
        scope.updateParams();
      }
      </script>
<span class="keyboardcontainer" id="keyboardcontainer">
      <div class="row-fluid">
        <div class="offset1 span2">
          <button class="btn btn-large" id="buttonToggleHide" onClick="$('#keyboardcontainer').hide();$('#toggleBtn').show();">Hide</button>
        </div>  
        <div class="span3">
              <span class="keyboard number" onClick="$('#bla').mathquill('write','8'); keyPressed();">7</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','8'); keyPressed();">8</span>
              <span class="keyboard number" onClick="$('#bla').mathquill('write','9'); keyPressed();">9</span>  
              <span class="keyboard number lastitem" onClick="$('#bla').mathquill('cmd','*'); keyPressed();">×</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','4'); keyPressed();" >4</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','5'); keyPressed();">5</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','9'); keyPressed();">6</span> 
              <span class="keyboard number lastitem" onClick="$('#bla').mathquill('cmd','+'); keyPressed();">+</span>
              <span class="keyboard number" onClick="$('#bla').mathquill('write','1'); keyPressed();">1</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','2'); keyPressed();">2</span>
              <span class="keyboard number" onClick="$('#bla').mathquill('write','3'); keyPressed();">3</span> 
              <span class="keyboard number lastitem" onClick="$('#bla').mathquill('cmd','-'); keyPressed();">-</span>  
              <span class="keyboard number numberzero" onClick="$('#bla').mathquill('write','9'); keyPressed();">0</span>  
              <span class="keyboard number" onClick="$('#bla').mathquill('write','9'); keyPressed();">.</span>  
              <span class="keyboard number lastitem" onClick="$('#bla').mathquill('cmd','/'); keyPressed();">÷</span>
        </div>
        <div class="span3">
              <span class="keyboard keysymbol" onClick="$('#bla').mathquill('write','^2'); keyPressed();">a<sup>2</sup></span>
              <span class="keyboard keysymbol" onClick="$('#bla').mathquill('cmd','\sqrt'); keyPressed();">√</span>
              <span class="keyboard keysymbol" onClick="$('#bla').mathquill('write','x'); keyPressed();">x</span>
              <span class="keyboard keysymbol" onClick="$('#bla').mathquill('cmd','\^'); keyPressed();">a<sup>b</sup></span>
              <span class="keyboard symbolbackspace lastitem" onClick="alert('preguiça de terminar hoje...');">Backspace</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">Del</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">&#8593;</span>
              <span class="keyboard keysymbol lastitem" onClick="alert('preguiça de terminar hoje...');">&#8629;</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">&#8592;</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">&#8595;</span>
              <span class="keyboard keysymbol" onClick="alert('preguiça de terminar hoje...');">&#8594;</span>
        </div>
      </div>
    </div><!-- Keyboardcontainer -->

    
  </body>
</html>